# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
lib
ignore*
secrets.properties

# run
saves
logs
config
crash-reports
asm
mods
resourcepacks
options.txt
usercache.json
usernamecache.json