.gradle/
.settings/
bin/
build/
gradle/
run/
eclipse/

.classpath
.project
1.10_Client.launch
1.10_Server.launch
1.10_Client 2.launch
sonarqube.sh

GoreCore_ClientUUIDCache.txt
/config
logs/
options.txt
saves/
usercache.json
usernamecache.json
screenshots/

crash-reports/
resourcepacks/

docs/.sass-cache
docs/styles.css.map
Client.launch
Client 2.launch
Server.launch

**/.sass-cache
**/.sass-cache/*
.idea/
code.iml
out/
