.gradle/
.settings/
bin/
build/
gradle/
run/
eclipse/

.classpath
.project
1.10_Client.launch
1.10_Server.launch
1.10_Client 2.launch
gradlew
gradlew.bat


GoreCore_ClientUUIDCache.txt
/config
logs/
options.txt
saves/
usercache.json
usernamecache.json
screenshots/

crash-reports/
resourcepacks/

copyright.txt
