@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Oswald|Source+Sans+Pro:200');

$button-color: #e5e5e5;
$button-highlight-color: #c44061;
$collapse: 768px;

@mixin transition($property, $duration: .5s, $timing-function: ease, $delay: 0s) {
    -webkit-transition-property: $property;
       -moz-transition-property: $property;
         -o-transition-property: $property;
            transition-property: $property;
    -webkit-transition-duration: $duration;
       -moz-transition-duration: $duration;
         -o-transition-duration: $duration;
            transition-duration: $duration;
    -webkit-transition-timing-function: $timing-function;
       -moz-transition-timing-function: $timing-function;
         -o-transition-timing-function: $timing-function;
            transition-timing-function: $timing-function;
    -webkit-transition-delay: $delay;
       -moz-transition-delay: $delay;
         -o-transition-delay: $delay;
            transition-delay: $delay;

}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

h1 {
    font-weight: 100;
}

#content {
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: -1;
}

#homepage {
    text-align: center;
    background-image: url("bg.png");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#homepage h1 {
    font-family: Oswald;
    font-weight: 100;
    font-size: 10vw;
    letter-spacing: 5px;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
}

#homepage-desc {
    font-family: Source Sans Pro;
    font-weight: 100;
    margin: 0px auto 2em auto;
    /*background-color: rgb(204, 204, 204);
    box-shadow: 0px 0px 3px 3px rgb(204, 204, 204);*/
}

#homepage-desc span {
    font-size: 2vw;
    padding: 0.2em 0.5em;
    font-weight: normal;
}

.homepage-flyer {
}

.homepage-flyer p {
    font-size: 2em;
    font-family: Source Sans Pro;
    font-weight: normal;
}

.homepage-flyer .row {
    margin-top: 50px;
}

.homepage-flyer img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.homepage-flyer h1 {
    font-family: Oswald, sans-serif;
}

.homepage-text {
    background-color: #222;
    color: #eee;
    padding: 20px 20px 30px 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    border-top: 25px solid #111;
    text-shadow: 0px 1px 2px #222;
}

.homepage-text p {
    margin: 1.5em 0;
}

.homepage-text h1 {
    font-family: Oswald, sans-serif;
}

.button {
    background-color: $button-color;
    padding: 0.4em 0.6em;
    font-size: 2em;
    font-family: Source Sans Pro;
    margin: 0 0.5em;

    text-shadow: 0px 1px 1px 777;
    border-radius: 5px;
    box-shadow: 0px -2px 5px ($button-color - #333) inset;

    cursor: pointer;
    @include transition(background-color);

    display: inline-block;

}

.button:hover {
    background-color: $button-color - #111;
}

.button.highlight {
    color: #e5e5e5;
    background-color: $button-highlight-color;
    box-shadow: 0px -2px 5px ($button-highlight-color - #111) inset;
}

.button.highlight:hover {
    background-color: $button-highlight-color - #222;
}

#navbar {
    background-color: black;
    color: white;
    font-family: Source Sans Pro;
    padding: 0 0 0 2em;
    position: fixed;
    width: 100%;
    font-size: 2em;
    top: 0;
}

nav {
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 100%;
    z-index: 2;
    @media(max-width: $collapse) {
        padding-left: 20px;
    }
}

.nav {
    width: 100%;
}

#navbar-logo {
    background-image: url("logo_96px_white.png");
    background-size: 96px;
    background-repeat: no-repeat;
    /*display: inline-block;*/
    background-position: center center;
    width: 96px;
    @media(max-width: $collapse) {
        width: 64px;
        background-size: 64px;
        background-image: url("logo_64px_white.png");
        width: 100%;
        background-position: 10px center;
    }
}

#navbar-logo:hover {
    background-image: url("logo_96px_black.png");
    @media(max-width: $collapse) {
        background-image: url("logo_64px_black.png");
    }
}

#navbar-logo-parent {
    height: 50px;
    @media(max-width: $collapse) {
        height: 40px;
        width: 100%;
    }
}

.nav-link {
    color: #eee;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2em;
    font-weight: 200;
}

#navbar-logo:hover { text-decoration: none; }

#download {
    font-size: 2em;
    background-image: url("promo.png");
    background-size: cover !important;
    background-repeat: no-repeat;
    padding-top: 1.5em;
    margin-top: 2em;
    border-top: 20px solid #222;
}

.fg-text {
    margin: 0 auto;
    width: 50%;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 4%;
    color: #eee;
    box-shadow: 0px 0px 2px black;
    text-shadow: 0px 1px 1px #333;
    padding-bottom: 1em;
}

.fg-text.lg {
    width: 65%;
}

#download h1 {
    text-align: center;
    font-size: 1.25em;
    padding-top: .5em;
}

#content h1 {
    font-family: Oswald, sans-serif;
}

#content p {
    font-family: "Source Sans Pro", sans-serif;
}

.note {
    font-size: .75em;
    margin-top: 1em;
}

.navbar-link {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 1em;
    height: 100%;
}

#nav-download {
    background-color: $button-highlight-color;
    float: right;
    margin-right: 0;
    height: 100%;
    box-shadow: 0px -2px 5px ($button-highlight-color - #111) inset;
    right: 0;
    float: right;
    @include transition(background-color);
}

#nav-download:hover, #nav-download:active {
    background-color: $button-highlight-color - #111;
}

#nav-download-link:hover, #nav-download-link:active {
    background-color: inherit;
    color: inherit;
}

dfn {
    cursor: help;
    border-bottom: 1px dotted #222;
    font-style: normal;
}

.avbtn {
    color: #333;
    background-color: #eee;
    font-size: 2em;
    text-shadow: 0px 1px 2px #aaa;
    padding: .3em .5em;
    margin: 0 .2em;
    border-radius: 5px;
    border: 2px solid #ddd;
    box-shadow: 0px 0px 2px #ddd inset;
    cursor: pointer;
    
    &:hover {
        text-decoration: none;
        color: #222;
        box-shadow: 0px 0px 4px #ccc inset;
    }
}

.avbtn-bold {
    background-color: $button-highlight-color;
    border-color: $button-highlight-color - #111;
    box-shadow: 0px 0px 2px ($button-highlight-color - #111) inset;
    color: #eee;
    text-shadow: 0px 1px 1px #ccc;
    
    &:hover {
        color: #ccc;
        box-shadow: 0px 0px 4px ($button-highlight-color - #1a1a1a) inset;
    }
}
