@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Oswald');

@button-color: #e5e5e5;
@button-highlight-color: #c44061;

.Transition(@property; @duration: .5s; @timing-function: ease; @delay: 0s) {
    -webkit-transition-property: @property;
       -moz-transition-property: @property;
         -o-transition-property: @property;
            transition-property: @property;
    -webkit-transition-duration: @duration;
       -moz-transition-duration: @duration;
         -o-transition-duration: @duration;
            transition-duration: @duration;
    -webkit-transition-timing-function: @timing-function;
       -moz-transition-timing-function: @timing-function;
         -o-transition-timing-function: @timing-function;
            transition-timing-function: @timing-function;
    -webkit-transition-delay: @delay;
       -moz-transition-delay: @delay;
         -o-transition-delay: @delay;
            transition-delay: @delay;

}

html, body {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-weight: 100;
}

#homepage {
    text-align: center;
}

#homepage h1 {
    font-family: Oswald;
    font-weight: 100;
    font-size: 10vw;
    letter-spacing: 5px;
    margin-bottom: 0.1em;
}

#homepage-desc {
    font-family: Source Sans Pro;
    font-weight: 100;
    width: 40%;
    margin: 0 auto 2em auto;
    /*background-color: rgb(204, 204, 204);
    box-shadow: 0px 0px 3px 3px rgb(204, 204, 204);*/
}

#homepage-desc span {
    font-size: 2vw;
    padding: 0.2em 0.5em;
}

.button {
    background-color: @button-color;
    padding: 0.4em 0.6em;
    font-size: 2em;
    font-family: Source Sans Pro;
    margin: 0 0.5em;

    text-shadow: 0px 1px 1px 777;
    border-radius: 5px;
    box-shadow: 0px -2px 5px (@button-color - #333) inset;

    cursor: pointer;
    .Transition(background-color);

    display: inline-block;

}

.button:hover {
    background-color: @button-color - #111;
}

.button.highlight {
    color: #e5e5e5;
    background-color: @button-highlight-color;
    box-shadow: 0px -2px 5px (@button-highlight-color - #111) inset;
}

.button.highlight:hover {
    background-color: @button-highlight-color - #222;
}

#navbar {
    background-color: black;
    color: white;
    font-size: 3em;
    font-family: Source Sans Pro;
    padding: 0.15em 2em;
    height: 1.5em;
}

#navbar-logo {
    background-image: url("av2_water_fire-white.png");
    background-size: 96px;
    background-position: 96px 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 2em;
    height: 1em;
    display: inline-block;
    cursor: pointer;
}

@media(max-width: 800px) {
    #homepage span {
        font-size: 1em;
    }

    #homepage h1 {
        letter-spacing: 0px;
        font-size: 2.5em;
    }

    .button {
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    #navbar {
        font-size: 2em;
        padding: 0.15em 2em;
        height: 1em;
    }

    #navbar-logo {
        background-size: 64px;
        background-position: 64px 12px;
        height: 1em;
    }
}

