@import url("https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro|Oswald");
html, body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%; }

h1 {
  font-weight: 100; }

#content {
  height: 100%;
  width: 100%;
  padding: 0; }

#homepage {
  text-align: center;
  background-image: url("bg.png");
  width: 100%;
  height: 100%;
  margin: 0px; }

#homepage h1 {
  font-family: Oswald;
  font-weight: 100;
  font-size: 10vw;
  letter-spacing: 5px;
  margin-bottom: 0.1em; }

#homepage-desc {
  font-family: Source Sans Pro;
  font-weight: 100;
  width: 40%;
  margin: 0 auto 2em auto;
  /*background-color: rgb(204, 204, 204);
  box-shadow: 0px 0px 3px 3px rgb(204, 204, 204);*/ }

#homepage-desc span {
  font-size: 2vw;
  padding: 0.2em 0.5em; }

.button {
  background-color: #e5e5e5;
  padding: 0.4em 0.6em;
  font-size: 2em;
  font-family: Source Sans Pro;
  margin: 0 0.5em;
  text-shadow: 0px 1px 1px 777;
  border-radius: 5px;
  box-shadow: 0px -2px 5px #b2b2b2 inset;
  cursor: pointer;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: inline-block; }

.button:hover {
  background-color: #d4d4d4; }

.button.highlight {
  color: #e5e5e5;
  background-color: #c44061;
  box-shadow: 0px -2px 5px #b32f50 inset; }

.button.highlight:hover {
  background-color: #a21e3f; }

#navbar {
  background-color: black;
  color: white;
  font-family: Source Sans Pro;
  padding: 0 0 0 2em;
  position: fixed;
  z-index: 2;
  width: 100%;
  font-size: 2em;
  top: 0; }

nav {
  background-color: black;
  color: white;
  border-radius: 0px;
  width: 100%; }

.nav {
  width: 100%; }

#navbar-logo {
  background-image: url("logo_96px_white.png");
  background-size: 96px;
  background-repeat: no-repeat;
  /*display: inline-block;*/
  background-position: center center;
  width: 96px; }
  @media (max-width: 768px) {
    #navbar-logo {
      width: 64px;
      background-size: 64px;
      background-image: url("logo_64px_white.png"); } }

#navbar-logo:hover {
  background-image: url("logo_96px_black.png"); }
  @media (max-width: 768px) {
    #navbar-logo:hover {
      background-image: url("logo_64px_black.png"); } }

.nav-link {
  color: #eee;
  font-family: Oswald; }

#navbar-logo:hover {
  text-decoration: none; }

.navbar-link {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 1em;
  height: 100%; }

#nav-download {
  background-color: #c44061;
  float: right;
  margin-right: 0;
  height: 100%;
  box-shadow: 0px -2px 5px #b32f50 inset;
  right: 0;
  float: right;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

#nav-download:hover, #nav-download:active {
  background-color: #b32f50; }

#nav-download-link:hover, #nav-download-link:active {
  background-color: inherit;
  color: inherit; }

/*# sourceMappingURL=styles.css.map */
